# Ignore bundler config.
.bundle

# Ignore bundler generated Gemfile
Gemfile.lock

# Ignore the default SQLite database
db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles
log/*.log
tmp

# Ignore RubyMine stuff
.idea

# Ignore rbenv config
.ruby-version